<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1 th:text="#{label.greeting}">Hello! Welcome to our site!</h1>

<span th:text="#{label.change}">Change the language</span>:
<a href="/international?lang=en" th:text="#{label.eng}">English</a> |
<a href="/international?lang=fr_fr" th:text="#{label.fr}">French</a> |
<a href="/international?lang=fr_ca" th:text="#{label.frenchCanadian}">French Canadian</a>

</body>
</html>